<script>
  $(function() {
    $('#picture_image').hide()
  })
</script>
<div class="picture_error">
  <%= render 'error_message' %>
</div>
<div class="form-group">
  <%= form_for [@user, @picture], html: { multipart: true } do |f| %>
    <%= f.label :image, 'Upload Image', class: "btn btn-default form-control" %>
    <%= f.file_field :image %>
    <%= f.text_area :description, placeholder: 'Describe your picutre', rows: '5', class: 'form-control' %>
    <%= f.submit 'Post', class: 'form-control post_button' %>
  <% end %>
</div>
